.form-bg {
  background-color: rgb(17, 18, 22);
  border: 1px solid rgb(46, 46, 46);
  border-radius: 2px;

  max-width: 420px;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  margin-top: 15vh;
}

@media only screen and (max-width: 560px) {
  .form-bg {
    width: 100%;
  }
}

.form-title {
  font-size: 1.3em;
  font-weight: 500;
  border-radius: 2px;
  margin: 28px 18px 0;

  color: rgb(236, 236, 236);
}

.ft-link {
  color: rgb(103, 171, 248);
}

.form-container {
  margin: 8px 18px 16px;
  text-decoration: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 16px 0 12px;
}

.form-label {
  font-size: 0.89em;
  font-weight: 600;
  color: #e9e9e9;
  margin: 0 0 6px;
}

.form-input {
  font-size: 0.89em;
  padding: 8px 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  color: #2e2e2e;
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(17, 18, 22);
}

.form-input:focus {
  outline: 2px solid rgb(22, 131, 255);
}

.input-validation {
  margin: 8px 0;
  padding: 8px 12px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;

  font-size: 0.82em;
  background-color: rgba(119, 19, 2, 0.13);
  border-left: 4px solid rgb(214, 23, 17);
  color: rgb(214, 23, 17);
}

.login-button {
  background-color: rgb(22, 131, 255);
  color: white;
  font-size: 0.92em;
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 2px;
  margin: 6px 0;
  width: 100%;
}

.login-button:active {
  background-color: rgb(14, 89, 175);
}
