.form-bg {
  background-color: rgb(17, 18, 22);
  border: 1px solid rgb(46, 46, 46);
  border-radius: 2px;

  max-width: 400px;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  margin-top: 15vh;
}

@media only screen and (max-width: 480px) {
  .form-bg {
    width: 100%;
    max-width: 100%;
    border: none;
  }
}

.form-title {
  font-size: 1.3em;
  border-radius: 2px;
  margin: 36px 0 8px;
  padding: 0 24px;
  text-align: start;
  color: rgb(236, 236, 236);
}

.ft-link {
  color: rgb(103, 171, 248);
}

.form-container {
  text-decoration: none;
  padding: 0 24px 24px;

  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 16px 0 12px;
}

.form-label {
  font-size: 0.89em;
  font-weight: 600;
  color: #e9e9e9;
  margin: 0 0 8px;
}

.form-input {
  font-size: 0.89em;
  padding: 8px 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  color: rgb(226, 226, 226);
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(17, 18, 22);
}

.form-input:focus {
  outline: 2px solid rgb(22, 131, 255);
}

.input-validation {
  margin: 8px 0;
  padding: 8px 12px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;

  font-size: 0.82em;
  line-height: 18px;
}

.iv-failure {
  background-color: rgba(105, 17, 2, 0.13);
  border-left: 4px solid rgb(214, 23, 17);
  color: rgb(250, 13, 4);
}

.iv-success {
  background-color: rgba(2, 105, 11, 0.13) !important;
  border-left: 4px solid rgb(73, 214, 17) !important;
  color: rgb(12, 250, 4) !important;
}

.login-button {
  background-color: rgb(22, 131, 255);
  color: white;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 2px;
  margin: 6px 0;
  width: 100%;
}

.login-button:active {
  background-color: rgb(14, 89, 175);
}

.extra-button {
  color: rgb(37, 85, 245);
  background-color: rgba(3, 45, 94, 0);
  border: none;
  font-size: 0.78em;
  cursor: pointer;
  border-radius: 2px;

  padding: 6px 12px;

  margin: 4px 0;
  align-self: flex-end;

  text-decoration: underline;
}

.extra-button:active {
  /* background-color: rgba(1, 103, 212, 0.11); */
  color: rgb(9, 56, 209);
}

.loading {
  height: 36px;
  width: 36px;
  margin-left: auto;
  margin-right: auto;
  /* align; */
}
